#containerAdmin {
    width: 1450px;
}

#containerAdmin thead th {
    background-color: #efe1ba;
    padding: 10px;
    border: 1px solid #d79922;
    text-align: center;
}

#containerAdmin .sortSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#containerAdmin .sortSection .icons {
    padding: 0 0 10px 15px;
}

#containerAdmin .sortSection .icons .icon {
    height: 10px;
}

#containerAdmin .sortSection .icons .icon svg{
    width: 20px;
    height: 20px;
}

#containerAdmin tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#containerAdmin tbody tr:nth-child(odd) {
    background-color: #fff;
}

#containerAdmin td {
    text-align: center;
    border: 1px solid #efe1ba;
    padding: 10px;
}

#containerAdmin tfoot th {
    background-color: #efe1ba;
    padding: 10px;
    border: 1px solid #d79922;
}

#containerAdmin .submit {
    display: inline-block;
    padding: 8px 16px;
    background-color: #255E33;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#containerAdmin .delete{
    background-color: #f13c1f;
}

#containerAdmin .submit:hover {
    background-color: #1C4726;
}

#containerAdmin .delete:hover{
    background-color: #c82333;
}